<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Future Log
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon name="power" (click)="logout()"></ion-icon>
        &nbsp;
        <div (click)="logout()">Logout</div>
        &nbsp;
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-title>Hello {{ text }}.</ion-title>
	<ion-button color="primary" (click)="changeText()" >Botão</ion-button>
</ion-content>
